.cardProduct {
	max-width: 352px;
	width: 29.4%;
	background-color: #fff;
	border-radius: 24px;
	transition-duration: .7s;
	padding: 32px;
	margin: 0 3.93% 3.93% 0;
	@media screen and (max-width: 992px) {
    	width: 46.07%;
    }

    @media screen and (max-width: 576px) {
    	width: 100%;
    	margin: 0 auto 25px;
    }
}

.cardProduct:hover {
	box-shadow: 24px 24px 8px 0 rgba(75,207,160,.08);
}

.cardProductInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}
